
<html>
 <head>

<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    </head>
<body>


    <div class="container">

        <div class="card card-container">
          <%=flash_messages%>
            <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
            <img id="profile-img" class="profile-img-card" src="/assets/sweet.jpg" />
            <p id="profile-name" class="profile-name-card"></p>
             <div id="signinbox">
            <%= render :partial=>'signin' %>
          </div>

        </div><!-- /card-container -->
    </div><!-- /container -->
</body>

</html>
