<div class="alert alert-danger" id="error-explanation">
  <p><%= pluralize(model.errors.count, "error") %> prohibited from being saved:</p>
  <ul class="rails-bootstrap-forms-error-summary">
    <% model.errors.full_messages.each do |msg| %>
    <li> * <%= msg %></li>
  <% end %>
  </ul>
</div>
